@font-face {
    font-family: Roboto-Black;
    src: url(../fonts/Roboto-Black.ttf);
}

@font-face {
    font-family: Roboto-Bold;
    src: url(../fonts/Roboto-Bold.ttf);
}

@font-face {
    font-family: Roboto-BoldItalic;
    src: url(../fonts/Roboto-BoldItalic.ttf);
}

@font-face {
    font-family: Roboto-Light;
    src: url(../fonts/Roboto-Light.ttf);
}

@font-face {
    font-family: Roboto-Medium;
    src: url(../fonts/Roboto-Medium.ttf);
}

@font-face {
    font-family: Roboto-Regular;
    src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: Roboto-Regular;
    src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: Wisdom;
    src: url(../fonts/Wisdom-Script-AJ.otf);
}

* {
	margin: 0px;
	padding: 0px;
    overflow-x: hidden;
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
}

input:focus { outline: none; }
button:focus { outline: none; }

h2{
	font-family: Wisdom;
}

#home {
    cursor: pointer;
}